menuconfig MANAGER_NM_NETIFD
    bool "Network Manager (NM NETIFD)"
    depends on !MANAGER_NM
    default y
    help
        Enable Network Manager (NM NETIFD)

    config MANAGER_NM_NETIFD_CFG
        depends on MANAGER_NM_NETIFD
        string "NM NETIFD Startup configuration"
        default "nm;true;needs_plan_b=true"
        help
            Network Manager (NM NETIFD) startup configuration
